<!DOCTYPE html>
<html lang="en" dir=ZgotmplZ>

<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="
  Buttons
  #

Buttons are styled links that can lead to local page or external link.

  Example
  #

{{&lt; button relref=&#34;/&#34; [class=&#34;...&#34;] &gt;}}Get Home{{&lt; /button &gt;}}
{{&lt; button href=&#34;https://github.com/alex-shpak/hugo-book&#34; &gt;}}Contribute{{&lt; /button &gt;}}




  


  Get Home





  
  



  Contribute

">
<meta name="theme-color" content="#FFFFFF"><meta property="og:url" content="https://justreadrtheinstructions.com/docs/shortcodes/buttons/">
  <meta property="og:site_name" content="Just Readr the Instructions">
  <meta property="og:title" content="Just Readr the Instructions">
  <meta property="og:description" content="Buttons#Buttons are styled links that can lead to local page or external link.
Example#{{&lt; button relref=&#34;/&#34; [class=&#34;...&#34;] &gt;}}Get Home{{&lt; /button &gt;}} {{&lt; button href=&#34;https://github.com/alex-shpak/hugo-book&#34; &gt;}}Contribute{{&lt; /button &gt;}} Get HomeContribute">
  <meta property="og:locale" content="en">
  <meta property="og:type" content="article">
    <meta property="article:section" content="docs">
<title>Buttons | Just Readr the Instructions</title>
<link rel="manifest" href="/manifest.json">
<link rel="icon" href="/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="/book.min.d08be657f4d0d61b509ac06e1059e92fd1c66f15535a6bd4cee27e19935f34ae.css" integrity="sha256-0IvmV/TQ1htQmsBuEFnpL9HGbxVTWmvUzuJ&#43;GZNfNK4=">
<script defer src="/en.search.min.a6797f263f80b1d4806c640d55a7262de2e02b28ea96462219b13eb1f2146040.js" integrity="sha256-pnl/Jj&#43;AsdSAbGQNVacmLeLgKyjqlkYiGbE&#43;sfIUYEA="></script>

<script defer src="/sw.min.6f6f90fcb8eb1c49ec389838e6b801d0de19430b8e516902f8d75c3c8bd98739.js" integrity="sha256-b2&#43;Q/LjrHEnsOJg45rgB0N4ZQwuOUWkC&#43;NdcPIvZhzk="></script>
<!--
Made with Book Theme
https://github.com/alex-shpak/hugo-book
-->

  
</head>

<body dir=ZgotmplZ>
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      
  <nav>
<h2 class="book-brand">
  <a href="/"><span>Just Readr the Instructions</span>
  </a>
</h2>


<div class="book-search">
  <input type="text" id="book-search-input" placeholder="Search" aria-label="Search" maxlength="64" data-hotkeys="s/" />
  <div class="book-search-spinner hidden"></div>
  <ul id="book-search-results"></ul>
</div>











  <ul>
<li>
<p>
  <a href="/docs/example/"><strong>Example Site</strong></a></p>
</li>
<li>
<p>
  <a href="/docs/example/table-of-contents/">Table of Contents</a></p>
<ul>
<li>
  <a href="/docs/example/table-of-contents/with-toc/">With ToC</a></li>
<li>
  <a href="/docs/example/table-of-contents/without-toc/">Without ToC</a></li>
</ul>
</li>
<li>
<p>
  <a href="/docs/example/collapsed/">Collapsed</a></p>
<ul>
<li>
  <a href="/docs/example/collapsed/3rd-level/">3rd</a> - 
  <a href="/docs/example/collapsed/3rd-level/4th-level/">4th</a>
<br /></li>
</ul>
</li>
<li>
<p><strong>Shortcodes</strong></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/buttons/"class=active>Buttons</a></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/columns/">Columns</a></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/hints/">Hints</a></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/katex/">KaTeX</a></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/mermaid/">Mermaid</a></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/tabs/">Tabs</a>
<br /></p>
</li>
</ul>






  
<ul>
  
  <li>
    <a href="/posts/" >
        Blog
      </a>
  </li>
  
</ul>






</nav>




  <script>(function(){var e=document.querySelector("aside.book-menu nav");addEventListener("beforeunload",function(){localStorage.setItem("menu.scrollTop",e.scrollTop)}),e.scrollTop=localStorage.getItem("menu.scrollTop")})()</script>


 
    </aside>

    <div class="book-page">
      <header class="book-header">
        
  <div class="flex align-center justify-between">
  <label for="menu-control">
    <img src="/svg/menu.svg" class="book-icon" alt="Menu" />
  </label>

  <strong>Buttons</strong>

  <label for="toc-control">
    
    <img src="/svg/toc.svg" class="book-icon" alt="Table of Contents" />
    
  </label>
</div>


  
  <aside class="hidden clearfix">
    
  <nav id="TableOfContents">
  <ul>
    <li><a href="#example">Example</a></li>
  </ul>
</nav>


  </aside>
  
 
      </header>

      
      
  <article class="markdown"><h1 id="buttons">
  Buttons
  <a class="anchor" href="#buttons">#</a>
</h1>
<p>Buttons are styled links that can lead to local page or external link.</p>
<h2 id="example">
  Example
  <a class="anchor" href="#example">#</a>
</h2>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-tpl" data-lang="tpl"><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">button</span> <span style="color:#a6e22e">relref</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;/&#34;</span> <span style="color:#f92672">[</span><span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;...&#34;</span><span style="color:#f92672">]</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>Get Home<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">button</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">button</span> <span style="color:#a6e22e">href</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;https://github.com/alex-shpak/hugo-book&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>Contribute<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">button</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span></code></pre></div><p>



  

<a  href="/"   class="book-btn">
  Get Home
</a>




  
  


<a  href="https://github.com/alex-shpak/hugo-book"   target="_blank"  class="book-btn">
  Contribute
</a>
</p>
</article>
 
      

      <footer class="book-footer">
        
  <div class="flex flex-wrap justify-between">





  <div>
    <a class="flex align-center" href="https://github.com/sgoley/sgoley.gitlab.io/edit/master///docs/shortcodes/buttons.md" target="_blank" rel="noopener">
      <img src="/svg/edit.svg" class="book-icon" alt="Edit" />
      <span>Edit this page</span>
    </a>
  </div>

</div>

 
        
      </footer>

      
  
 

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    
    <aside class="book-toc">
      
  <nav id="TableOfContents">
  <ul>
    <li><a href="#example">Example</a></li>
  </ul>
</nav>

 
    </aside>
    
  </main>

  
</body>

</html>












